<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Eazy Concept</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/contact-request.css}">
    <style th:inline="text">
       
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand g" th:href="@{/home}">
            <span class="lead">E</span><span class="trail">az</span><span class="lead">C</span><span
                class="trail">oncept</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/home}"><i class='bx bx-home'></i> Home <span
                            class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/projects}"><i class='bx bx-folder'></i> Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contact-us}"><i class='bx bx-envelope'></i> Contact Us</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid mt-1">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="text-center">
                    <h2>Contact Us</h2>
                </div>
                <div>
                    <div class="my-2">
                        <div>
                            We're here to help you with any questions or concerns you may have.
                            Reach out to us via the form below, or contact us directly via email or phone.
                        </div>
                        <div><strong>Email:</strong> support@eazyconcept.com</div>
                        <div><strong>Phone:</strong> +234 703 855 2515</div>
                    </div>
                    <div class="card ">
                        <div class="card-title text-center">Request Form</div>
                        <div class="card-body">
                            <form th:action="@{/send-request}" method="post">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="firstName">First Name</label>
                                        <input type="text" class="form-control" id="firstName" name="firstName"
                                            required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="lastName">Last Name</label>
                                        <input type="text" class="form-control" id="lastName" name="lastName" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="email">Email Address</label>
                                        <input type="email" class="form-control" id="email" name="email" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="phone">Phone Number</label>
                                        <input type="text" class="form-control" id="phone" name="phone" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="subject">Subject</label>
                                    <input type="text" class="form-control" id="subject" name="subject" required>
                                </div>
                                <div class="form-group">
                                    <label for="message">Message</label>
                                    <textarea class="form-control" id="message" name="request" rows="10"
                                        required></textarea>
                                </div>
                                <div class="container-fluid d-flex justify-content-center">
                                    <button type="submit" class="btn btn-primary">Send Request</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>